.two img{
    width:40vw ;
    height: 21vw;
    font-family: sans-serif;
    padding: 2%;
    text-align: center;
    display: flex;
    float: ;
    padding: 3%;
}
.footer{
    float:center;
    padding:5;
}
#course{
    display: flex;
}